/* common shared styles */

body {
  font-family: "Open Sans", sans-serif;
}
.text-praimary {
  color: #fd6e0a;
}
.btn-praimary {
  color: #fff;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 16px;
}

/* nav related style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style */

.contact-btn {
  border: 1px solid #fd6e0a;
  background-color: #fff8f3;
  color: #fd6e0a;
}
.btn-png {
  width: 20px;
  height: 20px;
  padding: 3px 7px 0px 0px;
}
.btn-png1 {
  width: 22px;
  height: 22px;
  padding: 3px 7px 0px 0px;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 700px;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.paragraph {
  margin-top: 20px;
  margin-bottom: 33px;
}
/* main section design */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}

/* about section design */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.about-info {
  text-align: center;
}
#what-i-do {
  padding: 30px 150px;
  margin-top: 0px;
  margin-bottom: 50px;
}
#what-i-do-title {
  margin-bottom: 0px;
}
.what {
  margin: 130px 0;
}
/* skills related style */

.skill-container {
  display: flex;
  margin-top: 0px;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(4, 4, 4, 0.115);
}
.skill-description {
  color: #757575;
  line-height: 28px;
  font-size: 16px;
}
.skill-title {
  font-size: 20px;
}

/* resume section style */

.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 75px;
}
.resume-column-title {
  margin-top: 80px;
  margin-bottom: 30px;
}
.resume-item-description {
  color: #757575;
  margin-top: 0px;
  margin-bottom: 30px;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}
.resume-item-institute {
  color: var(--dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.resume-container hr {
  margin-bottom: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 30px;
}

/* footer section design */

footer {
  display: flex;
  gap: 117px;
  margin-top: 100px;
  padding: 130px 190px;
  background-color: #fff8f3;
}
.footer-column {
  width: 50%;
}
.contact input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  background: #fff;
  /* font-size: 16px; */
  border: none;
  border-radius: 5px;
  /* width: 100%; */
}
.footer-title {
  text-align: left;
  margin-bottom: 0px;
}
.footer-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 500px;
  text-align: left;
  margin-top: 28px;
  margin-bottom: 30px;
}
.social-links a {
  margin-right: 24px;
}
.contact input[type="text"],
input[type="email"] {
  width: 440px;
  height: 40px;
}
.contact textarea {
  width: 440px;
  height: 180px;
}
